<a href="https://colab.research.google.com/github/TheSkrill/Diamond-Price-Prediction/blob/master/Diamond_wa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded=files.upload()

Saving diamonds.csv to diamonds (1).csv

In [0]:
import numpy as np
import pandas as pd

data=pd.read_csv('diamonds.csv')

data

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

In [0]:
del data['Unnamed: 0']
print(data.info())
#NO NULL VALUES FOUND

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
carat      53940 non-null float64
cut        53940 non-null object
color      53940 non-null object
clarity    53940 non-null object
depth      53940 non-null float64
table      53940 non-null float64
price      53940 non-null int64
x          53940 non-null float64
y          53940 non-null float64
z          53940 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB
None

In [0]:
print(data.groupby('cut')['price'].mean().sort_values())
print(data.groupby('color')['price'].mean().sort_values())
print(data.groupby('clarity')['price'].mean().sort_values())
#Sorting all values according to price. Mehenga wala aur saste waale ke biich farak batane ke liye.

cut
Ideal        3457.541970
Good         3928.864452
Very Good    3981.759891
Fair         4358.757764
Premium      4584.257704
Name: price, dtype: float64
color
E    3076.752475
D    3169.954096
F    3724.886397
G    3999.135671
H    4486.669196
I    5091.874954
J    5323.818020
Name: price, dtype: float64
clarity
VVS1    2523.114637
IF      2864.839106
VVS2    3283.737071
VS1     3839.455391
I1      3924.168691
VS2     3924.989395
SI1     3996.001148
SI2     5063.028606
Name: price, dtype: float64

In [0]:
#Values were not consistent. Therefore divided by weight to find per unit cost of each model. JHAKKKKASSSS!
#data['price/wt']=data['price']/data['carat']
#print(data.groupby('cut')['price/wt'].mean().sort_values())
#print(data.groupby('color')['price/wt'].mean().sort_values())
#print(data.groupby('clarity')['price/wt'].mean().sort_values())

In [0]:
(data.corr())
#Depth has a negative data correlation, so NIKALO USKO MC!

          carat     depth     table     price         x         y         z
carat  1.000000  0.028224  0.181618  0.921591  0.975094  0.951722  0.953387
depth  0.028224  1.000000 -0.295779 -0.010647 -0.025289 -0.029341  0.094924
table  0.181618 -0.295779  1.000000  0.127134  0.195344  0.183760  0.150929
price  0.921591 -0.010647  0.127134  1.000000  0.884435  0.865421  0.861249
x      0.975094 -0.025289  0.195344  0.884435  1.000000  0.974701  0.970772
y      0.951722 -0.029341  0.183760  0.865421  0.974701  1.000000  0.952006
z      0.953387  0.094924  0.150929  0.861249  0.970772  0.952006  1.000000

In [0]:
del data['depth']

In [0]:
data['cut']=data['cut'].map({'Ideal':1,'Good':2,'Very Good':3,'Fair':4,'Premium':5})
data['color']=data['color'].map({'E':1,'D':2,'F':3,'G':4,'H':5,'I':6,'J':7})
data['clarity']=data['clarity'].map({'VVS1':1,'IF':2,'VVS2':3,'VS1':4,'I1':5,'VS2':6,'SI1':7,'SI2':8})
#Mapping each one kyunki computer ko IF,VS1 wali bakchodi samajh nahi aati

In [0]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import ElasticNet
from sklearn.pipeline import Pipeline

X = data.drop(['price'], axis = 1)
y = data['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 123)

"""grid_parameters = {'alpha': [0.1, 1, 1.5, 5, 10], 'l1_ratio': [0.1, 0.3, 0.5, 0.7, 0.9] }
model = GridSearchCV(ElasticNet(), grid_parameters, cv = 3)
model.fit(X_train, y_train)
#model.score(X_test, y_test)
X_test"""
from sklearn import linear_model
model = linear_model.LinearRegression(normalize=True)
model.fit(X_train,y_train)
X_test

       carat  cut  color  clarity  table     x     y     z
32685   0.31    5      4        4   57.0  4.32  4.28  2.71
36258   0.46    1      1        8   55.0  4.98  5.00  3.06
14429   1.21    3      5        7   58.0  6.83  6.79  4.25
36250   0.41    1      1        6   57.0  4.74  4.79  2.96
460     0.90    1      7        6   55.0  6.20  6.16  3.88
...      ...  ...    ...      ...    ...   ...   ...   ...
11655   1.02    2      4        7   58.0  6.39  6.34  4.05
13760   1.20    3      4        8   57.0  6.68  6.79  4.25
49086   0.57    1      1        4   54.8  5.36  5.40  3.27
27680   2.01    5      4        8   57.2  8.08  8.14  4.97
27180   1.56    1      3        4   56.0  7.48  7.46  4.61

[16182 rows x 8 columns]

In [0]:
print(model.score(X_test,y_test)*100)

89.11403627462391

In [0]:
from sklearn.externals import joblib 

joblib.dump(model, 'diamondwa.pkl')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['diamondwa.pkl']

In [0]:
y_pred=model.predict(X_test)

In [0]:
def custom_input():
  import numpy as np

  input1 = float(input("Enter the no of carats (upto 2 dec points)"))

  cut_str = "Ideal:1,Good:2,Very Good:3,Fair:4,Premium:5"
  color_str = "'E':1,'D':2,'F':3,'G':4,'H':5,'I':6,'J':7"
  clarity_str = "'VVS1':1,'IF':2,'VVS2':3,'VS1':4,'I1':5,'VS2':6,'SI1':7,'SI2':8"

  print("Enter the CUT in the following format :")
  print(cut_str)
  input2 = int(input())

  print("Enter the COLOR in the following format :")
  print(color_str)
  input3 = int(input())

  print("Enter the CLARITY in the following format :")
  print(clarity_str)
  input4 = int(input())

  input5= float(input("Enter the TABLE value :"))

  input6= float(input("Enter the X value :"))

  input7= float(input("Enter the Y value :"))

  input8= float(input("Enter the Z value :"))

  inp = []
  inp.append(input1)
  inp.append(input2)
  inp.append(input3)
  inp.append(input4)
  inp.append(input5)
  inp.append(input6)
  inp.append(input7)
  inp.append(input8)

  print(inp)
  inp=np.array(inp)
  inp=inp.reshape(1,-1)

  y_pred=model.predict(inp)

  print(y_pred)

In [0]:
custom_input()

Enter the no of carats (upto 2 dec points)0.31
Enter the CUT in the following format :
Ideal:1,Good:2,Very Good:3,Fair:4,Premium:5
3
Enter the COLOR in the following format :
'E':1,'D':2,'F':3,'G':4,'H':5,'I':6,'J':7
1
Enter the CLARITY in the following format :
'VVS1':1,'IF':2,'VVS2':3,'VS1':4,'I1':5,'VS2':6,'SI1':7,'SI2':8
6
Enter the TABLE value :55.0
Enter the X value :4.32
Enter the Y value :4.21
Enter the Z value :2.31
[0.31, 3, 1, 6, 55.0, 4.32, 4.21, 2.31]
[785.22308388]

In [0]:
0